<!DOCTYPE html>
<html>
  <head>
    <title>Boba Station</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="<%= root_path %>">The World's Only Free Boba Shop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="<%= kitchen_path %>">Kitchen</a>
<!--            <a href ="<%#= kitchen_path %>">Kitchen</a>-->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= station_path %>">Order Station</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= pickup_path %>">Pick Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= rooms_path %>" tabindex="-1" aria-disabled="true">Chat Room</a>
          </li>
        </ul>

          <%= button_to "Close Kitchen", api_v1_archive_path_url, :class => "btn btn-outline-warning", method: :patch %>
      </div>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
